body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    color:aqua;
    background-color: black;
    height: 50px;
}

#container {
    display: flex;
    align-content: center;
    justify-content: center;
}

#container div {
    align-items: center;
    width: 100%;
    background-color: black;
}

#container img {
    height: 20%;
    width: 100%;
    border-radius: 10px;
}

p {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: aqua;
}